* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1024px; 
    margin: 0;
    width: 100%;
    padding: 0 103px;
}

header {
    display: flex;
    height: 180px;
    padding: 0; 
}

header .logo {
    display: flex;
    padding: 82px 0px 0px 0px;
    align-items: center;
    font-family: "Patua One", serif;
    font-size: 26px;
}

header .menu {
    display: flex;
    padding: 11vh 13vh 4vh 34vh;
    gap: 60px;
}

header .menu p {
    font-family: "Konkhmer Sleokchher", system-ui;
    font-size: 20px;
}

header .botao{
    display: flex;
    height: 2vh;
    width: 15vh;
    margin-left: 1vh;
    margin-top: 9vh;
    border: 30px;
    border-style: solid;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

header .botao p{
    font-family: "Konkhmer Sleokchher", system-ui;
    font-size: 20px;
    color: white;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "Konkhmer Sleokchher", system-ui;
}

