*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


header{
    width: 1440px;
    height: 120px;
    display: flex;
}

header .logo{
    display: flex;
    padding-left: 100px;
    padding-top: 75px;
    font-family: "Patua One", serif;
}

header p{
    height: 22px;
    flex-direction: row;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-size: 18px;
}
    
header .menu{
    display: flex;
    height: 40px;
    width: 560px;
    padding-top: 72px;
    padding-left: 200px;
    justify-content: space-between; 
}

header .botao{
    padding-top: 71px;
}

header a{  
    padding-left: 147px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "Konkhmer Sleokchher", system-ui;
    position: absolute;
}

img{
    padding-top: 59px;
    padding-left: 95px;
}